{% extends 'newapps/base.html' %}

{% load crispy_forms_tags %}





{% block content %}

<body>

    <div class="container bg-light shadow-md p-6 form-layout">

        <h3> Create a record of your idea </h3>

        <h6> Please describe your innovative idea below. Don't forget to add in the key details to ensure your record
            has sufficient information. </h6>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.first_name|as_crispy_field}}

            <br>

            {{form.last_name|as_crispy_field}}

            <br>

            {{form.email|as_crispy_field}}

            <br>

            {{form.role|as_crispy_field}}

            <br>

            {{form.idea_ID|as_crispy_field}}

            <br>

            {{form.Idea_name|as_crispy_field}}

            <br>

            {{form.Idea_description|as_crispy_field}}

            <br>

            {{form.Idea_dependencies|as_crispy_field}}

            <br>
            
            {{form.Date|as_crispy_field}}

            <br>

            {{form.View_Idea|as_crispy_field}}

            <br>

            {{form.Idea_Comments|as_crispy_field}}

            <br>

            {{form.Idea_Votes|as_crispy_field}}

            <br>

            <button type="submit" class="btn btn-primary">

                Create a record of your idea &nbsp; <i class="fa fa-check" aria-hidden="true"></i>

            </button>

            &nbsp;

            <a href="{% url 'controlpanel' %}" class="btn btn-secondary">


                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </a>


        </form>

    </div>

    <br>

</body>

{% endblock %}