{% extends 'newapps/base.html' %}

{% block content %}

    <h5> Hi, {{user}}! Welcome to IdeaLog {%if user.is_superuser%}👋{%endif%} </h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'add-idea' %}">

        Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> Employee ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Role </th>
                <th scope="col"> Idea ID </th>
                <th scope="col"> Idea name </th>
                <th scope="col"> Idea description </th>
                <th scope="col"> Idea dependencies </th>
                <th scope="col"> Date </th>
                <th scope="col"> View Idea </th>
                <th scope="col"> Idea Comments </th>
                <th scope="col"> Idea Votes </th>

               

            </tr>

        </thead>

        <tbody>

        {% if records %}

            {% for record in records %}

            <tr>

                <td> {{record.id}} </td>

                <td> {{record.first_name}}  {{record.last_name}} </td>

                <td> {{record.email}} </td>

                <td> {{record.role}} </td>
                <td> {{record.Idea ID}} </td>
                <td> {{record.Idea name}} </td>
                <td> {{record.Idea description}} </td>
                <td> {{record.Idea dependencies}} </td>
                <td> {{record.Date}} </td>
                <td> {{record.Idea Comments}} </td>
                <td> {{record.Idea Votes}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>


{% endblock %}