{% extends 'newapps/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

                {{record.last_name|upper}}
    
                {{record.first_name}}
    
            </strong>
    
            <hr> 

            <p> <strong> Employee ID: </strong> {{record.id}} </p>

            <p> <strong> First name: </strong> {{record.id}} </p>

            <p> <strong> Last name: </strong> {{record.id}} </p>

            <p> <strong> Email: </strong> {{record.email}} </p>

            <p> <strong> Role: </strong> {{record.phone}} </p>

            <p> <strong> Idea ID: </strong> {{record.address}} </p>

            <p> <strong> Idea description: </strong> {{record.address}} </p>

            <p> <strong> Idea dependencies: </strong> {{record.address}} </p>

            <p> <strong> Date: </strong> {{record.address}} </p>

            <p> <strong> Idea Comments: </strong> {{record.id}} </p>

            <p> <strong> Idea Votes: </strong> {{record.id}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'controlpanel' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-idea' record.id %}" class="btn btn-info"> Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>


{% endblock %}